<!-- değişkenleri görüntülemek için {{}} kullanılır 
Welcome to {{title}} <br>
Hello {{user}} <br>
{{product1.productName}}
<ul>
  < ngFor <li> elementini tekrarlamak için kullanılır(directive denir) (c# foreach gibi fakat frontendde de geçerli)
    let var gibi çalışmamızı sağlar TypeScript keyword u dür
  <li *ngFor="let product of products">{{product.productName}}</li>
</ul>-->
<div class="container">
  <app-navi></app-navi>
  <div class="row">
    <div class="col-md-3">
      <app-category></app-category>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
